@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";

.home {
  @include bgImg(100vh, $main-bgImg-path);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $text-color;

  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    &--last {
      color: red;
      font-weight: 700;
    }
  }
}
